<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="IsDebugMode" value="false"/>
  </appSettings>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="WCFAveryServiceClientNetTcpBinding" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000" receiveTimeout="00:00:10" sendTimeout="00:00:10">
          <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8075/AveryServerSvc" 
                binding="netTcpBinding" 
                bindingConfiguration="WCFAveryServiceClientNetTcpBinding" 
                contract="Client.Server.Communication.RemoteServices.ServiceContracts.IAveryServerSvc" 
                name="WCFAveryServiceClientNetTcpEndPoint"></endpoint>
    </client>
  </system.serviceModel>
  
</configuration>