<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="devices" type="Common.Infrastructure.Devices.DeviceConfigSection, Common" allowLocation="true" allowDefinition="Everywhere" />
    <section name="conveyorSettings" type="Simulator.Svc.Infrastructure.Config.ConveyorSettingsSection, Simulator.Svc" allowLocation="true" allowDefinition="Everywhere"/>
    <section name="simulatorSettings" type="Simulator.Svc.Infrastructure.Config.SimulatorSettingsSection, Simulator.Svc" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>
  <connectionStrings>
    <add name="connectionString" connectionString="mongodb://localhost/mongotest" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <devices vendorId="04D8" readerProductId="003F" gpioProductId="0040" />
  
  <!--<conveyorSettings timerCicleLengthMs="65536"/>-->  
  <!--<simulatorSettings threadSleepMs="5000"/>-->
  
  <appSettings>
    <add key="dsfPath" value="c:\Program Files\dsf\softehci\"/>
    <add key="ThreadSleepMs" value="5000"/>
    <add key="BadTagsPercent" value="15"/>
    <add key="MissedTagsPercent" value="5"/>
    <add key="SpeedUpTagsCount" value="50"/>
    <add key="SpeedDownTagsCount" value="50"/>
    <add key="AverySysDbName" value="AverySysDb" />
    <add key="AveryTestDbName" value="AveryTestDb" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
		<dependentAssembly>
			<assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
		</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="WCFSimulatorHostNetTcpBinding" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000" receiveTimeout="00:00:10" sendTimeout="00:00:10">
          <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000" />
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WCFSimulatorClientBehaviour">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="WCFSimulatorClientBehaviour" name="Simulator.Svc.RemoteServices.SimulatorSvc">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="WCFSimulatorHostNetTcpBinding" name="WCFSimulatorHostNetTcpEndPoint" contract="Server.Device.Communication.RemoteServices.ServiceContracts.ISimulatorSvc">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" name="AveryServiceHostMexEP" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8067/SimulatorSvc" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>