<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.2.0" targetFramework="net452" />
  <package id="Autofac.Wcf" version="4.0.0" targetFramework="net452" />
  <package id="mongocsharpdriver" version="2.2.3" targetFramework="net452" />
  <package id="MongoDB.Bson" version="2.2.3" targetFramework="net452" />
  <package id="MongoDB.Driver" version="2.2.3" targetFramework="net452" />
  <package id="MongoDB.Driver.Core" version="2.2.3" targetFramework="net452" />
  <package id="NLog" version="4.3.11" targetFramework="net452" />
  <package id="NLog.Config" version="4.3.11" targetFramework="net452" />
  <package id="NLog.Mongo" version="4.0.0.43" targetFramework="net452" />
  <package id="NLog.Schema" version="4.3.10" targetFramework="net452" />
  <package id="Topshelf" version="4.0.3" targetFramework="net452" />
  <package id="Topshelf.Autofac" version="3.0.0" targetFramework="net452" />
  <package id="Topshelf.NLog" version="4.0.3" targetFramework="net452" />
</packages>